@import "tailwindcss";

:root {
  --color-lavender: #bab2e7; /* Custom blue */
  --color-secondary: #ff5722; /* Custom orange */
  --color-charcol-black : #161616;
  --color-dark-lavender : #924AD9;
  --color-medium-green : #A6D46E;
  --color-lightest-yellow : #F8F8F6;
  --text-white: #ffffff; /* White text color */
  --text-black: #000000; /* Black text color */
  --text-light-green : #E4F1E8;


}

.lavender-background {
  background-color: var(--color-lavender);
}

.primary-text {
  color: var(--text-white);
}

.bigger-text {
  color: var(--text-light-green);
}

.center-circle {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2rem;
  border-radius: 50%;
  aspect-ratio: 1 / 1;
}

.nav-hover {
  padding: 5px 10px;
  transition: background-color 0.3s ease;
  border-radius: 20px;
}

.nav-hover:hover {
  background-color: #e9e3fc;
}
